    html {
        font-family: Helvetica;
        font-size: 22px;
        color: seashell;
        background-color: black;
        opacity: 0.9;
    }
    
    html,
    body {
        width: 1200px;
        margin: 20px;
    }
    
    header {
        height: 69px;
        border-bottom: 1px solid seashell;
        display: inline-flex;
        width: 100%;
        position: fixed;
        background-color: black;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        margin-left: 10px;
        height: 50px;
    }
    
    nav ul {
        display: inline;
    }
    
    a {
        color: seashell;
    }
    
    #hero {
        display: inline-flex;
        flex-flow: row wrap;
        height: 700px;
        width: 1200px;
        background-image: url("img/img-mission-background-jpg.jpg");
        background-color: #cccccc;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        align-content: center;
    }
    
    #hero h2,
    #hero h4 {
        background-color: black;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 10px;
    }
    
    #month {
        width: 1000px;
        display: inline-flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        margin: 50px 100px;
    }
    
    #month h2,
    #month h4 {
        width: 100%;
        text-align: center;
    }
    
    .teaflavor {
        margin: auto;
    }
    
    .teaflavor img {
        height: 200px;
        width: 300px;
    }
    
    .teaflavor h4 {
        margin-top: 10px;
    }
    
    #locations {
        height: 500px;
        width: 1200px;
        background-image: url("img/img-locations-background.jpg");
        background-color: #cccccc;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }
    
    #locations h2 {
        width: 100%;
        text-align: center;
    }
    
    .blocks {
        width: 300px;
        height: auto;
        opacity: 1;
        background-color: black;
        text-align: center;
        margin: 15px 40px;
    }
    
    #contact {
        height: 200px;
        text-align: center;
    }
    
    #footer {
        text-align: left;
        margin-left: 20px;
    }